<div class='home-view'>
	<div class='home-tabs'>
		<tabset>
			<tab heading="Overview">
				<p>Lost Requiem, An online mmorpg of the greatest kind; Play as one of four races to train, fight, and become the champion of a world where only the best survive. Equip yourself with a huge arsenal of weapons, armor, and accessories. Message your friends, taunt your enemies, and rise to glory like never before. A fun way to spend a little time, but who knows, you might get addicted...</p>
				<p>Lost Requiem is a text-based MMORPG, this fits better into a web browser and allows for more advanced gameplay without limiting you to a video card specification. Lost requiem allows each player to work their way up to their own kingdom, starting as a lone fighter, and eventually becoming a king with a kingdom and the ability to march against his enemies and join in powerful alliances. Each person grows and expands on their own, but has the ability to utilize other players by fighting them for money and resources, trading with them in the market, or joining an alliance to defend and support each other.</p>
				<p>With four unique races, each player can have a separate adventure in the same game. The diversity comes from the different attributes that are borne into each race. Players can decide what benefits and bonuses they want as they start the game, and plan according to the strategy they choose to employ.</p>
			</tab>
			<tab heading="Round Info">
				<h2>Round Info</h2>
			</tab>
			<tab heading="Screenshots">
				<h2>Screenshots</h2>
			</tab>
			<tab heading="Support">
				<h2>Support</h2>
			</tab>
			<tab heading="What's an MMORPG?">
				<h3>What's an MMORPG?</h3>
				<p>Massively multiplayer online role-playing game (MMORPG) is a genre of role-playing video games in which a very large number of players interact with one another within a virtual game world.</p>
				<p>As in all RPGs, players assume the role of a character (often in a fantasy world) and take control over many of that character's actions. MMORPGs are distinguished from single-player or small multi-player RPGs by the number of players, and by the game's persistent world (usually hosted by the game's publisher), which continues to exist and evolve while the player is offline and away from the game.</p>				
				<p><a style="float: right;" href="http://en.wikipedia.org/wiki/MMORPG">See the whole article on wikipedia</a></p>	
			</tab>
		</tabset>
	</div>
</div>